body{
margin: 0;
padding: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
background-color:  goldenrod;
}

#allContent{
 text-align: center;   
background-color: goldenrod

}

#center-div{
    background-color: goldenrod;
    display: inline-block;
    /* min-height: 800px; */
    width: 47%;
    
}

#left-sidebar{
    display: inline-block;
    position: fixed;
    left: 0;
    background-color:  goldenrod;
    height: 800px;
    width: 318px;
    
}

#right-sidebar{
    display: inline-block;
    position: fixed;
    right: 0;
    background-color:goldenrod;;
    height: 800px;
    width: 318px;
    /* border-radius: 3%; */
   

}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 75px;
    border-radius: 10px;

      

}
.tweet-div {
    border-bottom: rgb(78, 22, 78);
    border-top: rgb(14, 10, 9); 
    border-width: 1pt;
    border: 3px solid; 
    border-color: whitesmoke;
    border-style: outset;
    border: 3px solid; 
    margin-bottom: 10px; 
}
.tweet-div:hover{
    transform: scale(1.02);
    background-color: rgb(255, 255, 255);

}
.left-side{
    display: inline-block;
    position: fixed;
    left: 0;
    background-color: goldenrod);
    height: 800px;
    width: 318px;

}
.right-side{
    display: inline-block;
    position: fixed;
    right: 0;
    background-color: goldenrod;
    height: 800px;
    width: 318px;
}

#textarea-button{
    display: inline-block;
    margin-top:50px;

}

.up-button{
height:50px;
width:70px;
font-weight : bolder;


}
.up-button:hover{
    background-color: whitesmoke;
    transform: scale(1.2);
}

#sign-out-button{
    border-radius: 25%;
    margin-top : 300px;
    margin-left : 150px;
    font-weight: bolder;


}

#sign-out-buttonn {
    border-radius: 25%;
    margin-top : 300px;
    margin-left : 150px;
    font-weight: bolder

}
#update{
    height:50px;
width:150px;
font-size: 20px;
font-weight: bold;

}

#update:hover{
    transform: scale(1.1);

}
.update-button{
    margin-top : 100px;
    
   
}

.add-tweet-button{

    border-radius: 15%;
    font-weight: bolder;
    height:30px; 
     width:100px;
}

 .tweet-users:hover {

    color: black;
    font-weight: bolder;

  }

  #timeline{
      font-size: larger;
      font-style: inherit;
  }